.rf-unselected {
    pointer-events: none;
}

.rf-label {
    font-family: Helvetica;
}

.rf-label-bold {
    font-family: Helvetica-bold;
}

.rf-title-label {
    fill: #273441;
    font-size: 18px;
}

.rf-density-label {
    fill: #366894;
    font-size: 15px;
}

.rf-value-label {
    fill: #8c8d8c;
    font-size: 13px;
}

.rf-category-label {
    fill: #366894;
    font-size: 14px;
}

.rf-coverage-label {
    fill: #273441;
    font-size: 13px;
}

.rf-footnotes {
    fill: #273441;
    font-size: 12px;
}

.rf-value-indicator-label {
    fill: red;
    font-size: 13px;
}